In [1]:
# if , elif, else문
if True:
    print("ITS TRUE")

ITS TRUE

In [3]:
if 3>2:
    print("ITS TRUE")

ITS TRUE

In [6]:
hungry = True

if hungry:
    print("ITS TRUE")

ITS TRUE

In [7]:
hungry = False

if hungry:
    print("FEED ME!")
else:
    print("Im not hungry")

Im not hungry

loc = 'Game'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
elif loc == 'Store':
    print("Welcome to the store!")
else:
    print("I do not know much.")

In [14]:
name = 'Frankie'

if name == 'Frankie':
    print("Hello Frankie!")
elif name == 'Sammy':
    print("Hello Sammy!")
else:
    print("What is your name?")

Hello Frankie!

For문
객체를 수행하며 반복
my_iterable = [1,2,3]
for item_name in my_iterable:
    print(item_name)

In [15]:
my_iterable = [1,2,3]
for item_name in my_iterable:
    print(item_name)

1
2
3

In [2]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [3]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [4]:
for jelly in mylist:
    print(jelly)

1
2
3
4
5
6
7
8
9
10

In [5]:
for jelly in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [8]:
for num in mylist:
    # Check for even 짝수만 체크
    if num % 2 == 0:
        print(num)
    else:
        print(f"Odd number : {num}")

Odd number : 1
2
Odd number : 3
4
Odd number : 5
6
Odd number : 7
8
Odd number : 9
10

In [9]:
list_sum = 0 # 리스트 내의 숫자 더하기
for num in mylist:
    list_sum = list_sum + num

print(list_sum)

55

In [10]:
mystring = 'Hello World' # 문자열 분리

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [11]:
for letter in "Hello World":
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [12]:
for letter in "hello world":
    print("cool")

cool
cool
cool
cool
cool
cool
cool
cool
cool
cool
cool

In [13]:
tup = (1,2,3)
for item in tup:
    print(item)

1
2
3

In [14]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [15]:
len(mylist)

4

In [16]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [18]:
for (a,b) in mylist: # 튜플 언패킹 튜플 내부의 개별 항목에 접근 가능하게 함
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [19]:
for a,b in mylist: # a,b는 괄호도 필요가 없다
    print(a)

1
3
5
7

In [20]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [21]:
for item in mylist:
    print(item)

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [22]:
for a,b,c in mylist:
    print(a)

1
5
8

In [24]:
for a,b,c in mylist:
    print(b)

2
6
9

In [26]:
d = {'k1':1,'k2':2,'k3':3}
for item in d.items(): # d.items()을 한다면 키값 + vlaue 값
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [27]:
for item in d: # 그냥 d만 한다면 키값만 출력
    print(item)

k1
k2
k3

In [28]:
for a,b in d: # 튜플 언패킹과 마찬가지로 언패킹이 가능하다. 
    print(b)

1
2
3

In [29]:
for value in d.values():
    print(value)

1
2
3

while반복문은 어떤 조건이 참인 동안 코드 블록을 계속 실행한다
else문 과 결합하여 참이 아닐 경우를 표현 가능

In [2]:
x = 50

while x < 5:
    print('The current value of x is {}'.format(x))
    x += 1
else: # while문이 참이 아닐 때 실행/반복되지는 않음
    print("X is NOT LESS THAN 5")

X is NOT LESS THAN 5

In [5]:
x = [1,2,3]

for item in x:
    pass # pass는 아무것도 적어놓지 않아도 오류가 뜨지 않는다

print('end of my script')

end of my script

In [10]:
mystring = 'Sammy'

In [7]:
for letter in mystring:
    print(letter)

S
a
m
m
y

In [8]:
for letter in mystring:
    if letter == 'a':
        continue # continue는 반복문의 가장 위쪽으로 이동하라고 지시 
       #여기서는 for letter in mystring으로 보냈기에 a일 때 print(letter)에 가지 않음
    print(letter)

S
m
m
y

In [12]:
for letter in mystring:
    if letter == 'a':
        break # break는 'a'가 나온 시점에서 반복문의 종료를 의미함
    print(letter)

S

In [13]:
x  = 0
while x <5:
    print(x)
    x += 1

0
1
2
3
4

In [14]:
x = 0
while x < 5:
    if x == 2:
        break
    print(x)
    x+=1

0
1

파이썬에서의 유용한 연산자

In [15]:
mylist = [1,2,3]

In [16]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [17]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [18]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [19]:
list(range(0,11,2)) # 제네레이터는 모든 정보를 메모리에 저장하는 대신 정보를 생성
#하는 특수한 유형의 함수

[0, 2, 4, 6, 8, 10]

In [20]:
index_count = 0
for letter in 'abcde':
    print("At index {} the letter is {}".format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [21]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [22]:
word = 'abcde'
for item in enumerate(word): #enumerate는 튜플의 형태로 자동으로 index를 증가시킴
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [24]:
word = 'abcde'
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

enumerate 함수는 인덱스를 증가시키면서 되돌려주고 객체 자체나 특정한 이터레이션의
요소를 반환한다
zip 함수는 두개 이상의 리스트를 합쳐 각각 대응되는 항목을 페어로 만든다.

In [30]:
mylist1 = [1,2,3,4,5] # zip함수는 가장 짧은 리스트에 맞춰서 합쳐진다
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [31]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [32]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [35]:
2 in [1,2,3] # in을 통해서 list안에 찾으려는 문자나 숫자가 있는지 확인가능하다

True

In [36]:
'x' in ['a','x','y']

True

In [37]:
'a' in "a world"

True

In [38]:
'mykey' in {'mykey':345} # 딕셔너리에서도 적용 가능하다

True

In [39]:
345 in {'mykey':345} # 단, 키값만 가능

False

In [40]:
d = {'mykey':345}

345 in d.keys()

False

In [41]:
mylist = [10,20,30,40,100]

In [42]:
min(mylist) # min은 가장 작은 것

10

In [43]:
max(mylist) # max는 가장 큰 것을 표시

100

In [44]:
from random import shuffle # random 라이브러리 안에 있는 shuffle함수를 쓰겠다

In [45]:
mylist = [1,2,3,5,566,7,7,3,4,56]

In [50]:
shuffle(mylist) # shuffle함수는 리스트를 랜덤하게 섞는다.

In [51]:
mylist

[5, 1, 3, 4, 2, 7, 56, 7, 566, 3]

In [52]:
from random import randint

In [57]:
randint(0,100) # 0부터 100까지 내에서 임의의 정수를 무작위로 반환

16

In [58]:
mynum = randint(0,10)

In [59]:
mynum

10

In [63]:
result = input('Enter a number here : ')
print(result)
result # 아래 있는 result는 문자열 타입이므로 '50'이라는 형태로 반환된다

Enter a number here : 30
30

30.0

In [65]:
int(result)

30

In [66]:
float(result)

30.0

리스트 컴프리헨션 -> 파이썬으로 리스트를 빠르게 만드는 독특한 방법

In [67]:
mystring = 'hello'

In [70]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [71]:
mylist

['h', 'e', 'l', 'l', 'o']

In [72]:
mylist = [letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [73]:
mylist = [x for x in 'word']

In [74]:
mylist

['w', 'o', 'r', 'd']

In [75]:
mylist = [a for a in 'hello world']

In [76]:
mylist

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [79]:
mylist = [num**2 for num in range(0,11)]

In [80]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [81]:
mylist = [x for x in range(0,11) if x % 2 ==0]
mylist

[0, 2, 4, 6, 8, 10]

In [82]:
mylist = [x for x in range(0,11,2)]
mylist

[0, 2, 4, 6, 8, 10]

In [83]:
celcius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [84]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [88]:
celcius = [0,2,3,4,5,6]
fahrenheit = []
for temp in celcius:
    fahrenheit.append(((9/5)*temp +32))

In [89]:
fahrenheit

[32.0, 35.6, 37.4, 39.2, 41.0, 42.8]

In [90]:
mylist = [x for x in range(0,11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [91]:
celcius = [0,2,3,4,5,6,7]
mylist = [num for num in celcius]

In [92]:
mylist

[0, 2, 3, 4, 5, 6, 7]

In [93]:
mylist = [num**3 for num in celcius]
mylist

[0, 8, 27, 64, 125, 216, 343]

In [94]:
mylist = [num**2 if num%2 ==0 else 'ODD' for num in celcius]

In [95]:
mylist

[0, 4, 'ODD', 16, 'ODD', 36, 'ODD']

In [96]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [97]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [98]:
mylist = [x*y for x in [2,4,6] for y in [100,200,300]]

In [99]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [100]:
mylist = [x*y for x in [2,4,6] for y in [100,200,300]]

In [101]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]